{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    {# Отоброжение турниров #}
    {% if tournamentList is empty %}
        <p>Турниров пока нет</p>
    {% else %}
        <ul>
            {% for tournament in tournamentList %}
                <li>
                    <p>{{ tournament.name }}</p>
                    <a></a>
                    {#0 это 1 тур в турнире #}
                    <a href="{{ path('app_show', {'id': tournament.id}) }}">Show</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}
