{% extends 'base.html.twig' %}

{% block title %}Edit Game{% endblock %}

{% block body %}
    <h1>Edit Game</h1>

    {{ include('_form.html.twig') }}

    <a href="{{ path('app_tournament_show', { 'id': game.Tour.Tournament.id, 'numTour': game.Tour.Num  }) }}">back to list</a>

{% endblock %}
