{% extends 'base.html.twig' %}

{% block title %}New Team{% endblock %}

{% block body %}
    <h1>Show</h1>

    {# Форма для турнира #}
    {{ tournament.name }}

    {# Форма для записи команд #}
    {{ include('_form.html.twig', {'form': formTeam}) }}

    <a href="{{ path('app_tournament') }}">back to list</a>

{% endblock %}
