{% extends 'base.html.twig' %}

{% block title %}New Team{% endblock %}

{% block body %}
    <h1>Show</h1>

    {# Форма для турнира #}
    {{ tournament.name }}

    {# Отоброжение новостей #}
    {% if listTeam is empty %}
        <p>Команд пока нет</p>
    {% else %}
        <ul>
            {% for team in listTeam %}
                <li>
                    <p>{{ team.name }}</p>
                </li>
            {% endfor %}
        </ul>
    {% endif %}


    {# Форма для записи команд #}
    {{ include('_form.html.twig', {'form': formTeam}) }}

    <a href="{{ path('app_tournament') }}">back to list</a>

{% endblock %}
